<div class="jumbotron">
  <h1>
    Talent Network (Work In Progress)
  </h1>
  <p>
    A better way to find performers & crew for your project. 

  </p>
</div>
<p><center>
	<h2>TO-DO LIST:</h2><br>
	<h4>LANDING PAGE</h4>
	- Add Infographic / Icons on site features OR how the site works <br>
	- List down all kinds of possible performers / crews in landing page<br>
	- Contact Us page<br>
	<br>
	<h4>USER INDEX</h4>
	- Add Filter by Tags<br>
	- Keyword Search<br>
	<br>
	<h4>USER PROFILE PAGE</h4>
	- Personal Message function (Embed into Individual profile, remove Add New message from Main Page)<br>
	- Comments / Testimonials / Review / Feedback<br>
	<br>
	<h4>MISCELLANEOUS</h4>
	- Facebook Omniauth<br>
</p>
<br>
<br>
<hr>
<-- FOOTER --></center>
<br><br>

