<!-- <div class="jumbotron-image-bg"> -->
<div class="container">
<center>
	<div class="jumbotron">
		<h1>CAST.MY</h1>
		<h4>A better way to find performers & crew</h4>
	</div>
</center>

<hr>

<div class="panel panel-default">
	<div class="row vdivide">
  	<div class="col-md-6 ">
  		<center>
			<h3>I Want To Find Work</h3>
				<br>1. Create your profile
				<br>- Description...
				<br>
				<br>2. Apply to job / project listings based on your skills
				<br>- Description...
				<br>
				<br>3. Be scouted in the talent directory
				<br>- Description...
				<br>
				<br><%= link_to 'Sign Up as Talent', new_user_registration_path, class: 'btn btn-info', :method => :get %>
				<br>
  		</center>
  	</div>

  	<div class="col-md-6 ">
  		<center>
			<h3>I Want To Hire Talent</h3>
				<br>1. Post your job / project
				<br>- Description...
				<br>
				<br>2. Find talent by skills
				<br>- Description...
				<br>
				<br>3. Deal with talents directly, no agent fees!
				<br>- Description...
				<br>
				<br><%= link_to 'Post New Project', new_project_path, class: 'btn btn-info', :method => :get %>
				<br>
  		</center>
  	</div>
	</div>
</div>

<div class="panel panel-default">
	<center>
	<h2>WEBSITE PROGRESS TO-DO LIST:</h2>
	<br>
	<h4>LANDING PAGE</h4>
	[ &nbsp; ] List down all kinds of possible performers / crews in landing page<br>
	[ X ] Contact Us page<br>
	<br>
	<h4>USER INDEX</h4>
	[ &nbsp; ] Add Filter by Tags<br>
	[ X ] Simple Keyword Search<br>
	[ X ] Multiple Footer Columns<br>
	<br>
	<h4>USER PROFILE PAGE</h4>
	[ X ] Add Social Media Icons<br>
	[ &nbsp; ] Comments / Testimonials / Review / Feedback<br>
	[ &nbsp; ] Photo / Video Portfolio Embed <br>
	<br>
	</center>
</div>
</div>
<!-- </div> -->