<div class="panel panel-default">
  <div class="panel-heading">
    Details
  </div>
  <div class="panel-body">
    Location: <%= @project.location %>
    <br>
    <hr>
    Description: <br><%= @project.description %>
  </div>
</div>
