<div class="panel panel-default">
  <div class="panel-heading">
    <%= t(:location) %>
  </div>
  <div class="panel-body">
    <%= @project.description %>
    <br>
    <%= @project.location %>
  </div>
</div>
