<br><br><br><br><br><br>
<div id="footer">
	<div class="container">
		<p class="footer-block">
			<div class="row vdivide">
				<div class="col-md-4 ">
          <center><h3>FOOTER COLUMN 1</h3></center>
        </div>
        <div class="col-md-4 ">
					<center><h3>FOOTER COLUMN 2</h3></center>
        </div>
        <div class="col-md-4 ">
          <center><h3>FOOTER COLUMN 3</h3></center>
        </div>
			</div>
		</p><br>
	</div>
</div>