<br><br><br><br><br><br><br>
<div id="footer">
	<div class="container">
		<p class="footer-block">
			<div class="row ">
				<div class="col-md-4 ">
        </div>
        <div class="col-md-4 ">
					<center>
						<br><%= link_to image_tag("icons-crop.png", :alt=> "Social Media"), root_path %>
          	<br><br>© Copyright 2015 Cast.my <br>All rights reserved.
					</center>
        </div>
        <div class="col-md-4 ">
        </div>
			</div>
		</p><br>
	</div>
</div>