<ul class="nav navbar-nav">
  <li>
    <%= link_to 'Post New Job', projects_path %>
  </li>
  <li>
    <%= link_to 'Find Work', talents_path %>
  </li>
  <li>
    <%= link_to 'Hire Talents', users_path %>
  </li>  
  <li>
    <%= link_to 'Contact Us', contacts_path %>
  </li>  
</ul>
