<ul class="nav navbar-nav">
  <li>
    <%= link_to t(:post_new_job, count: 2), projects_path %>
  </li>
  <li>
    <%= link_to t(:find_work, count: 2), talents_path %>
  </li>
  <li>
    <%= link_to t(:hire_talents, count: 2), users_path %>
  </li>  
</ul>
